<footer class="relative h-56 overflow-hidden bg-black">
    <img class="h-40" src="img/ImpressaoDeCircuito.png" />
    <img
        class="absolute left-20 top-16 h-24"
        src="img/LogoRodape.png"
        alt="Logo Rodapé" />
    <ul
        class="absolute bottom-3 left-64 top-0 flex flex-col justify-center gap-2 font-LeagueSpartan text-sm text-white">
        <li>Quem somos</li>
        <li>Atividades</li>
        <li>Eventos</li>
    </ul>
    <img class="absolute right-20 top-16 h-80" src="img/Isotipo.png" />
    <ul
        class="absolute bottom-[80px] right-20 flex flex-col items-center gap-2 font-LeagueSpartan text-xs">
        <li>
            <button
                id="contactButton"
                class="w-28 rounded-full bg-white px-0.5 pt-0.5 text-center transition duration-300 ease-in-out hover:scale-125">
                Entrar em Contato
            </button>
        </li>
        <li class="flex gap-1 text-white">
            <img class="w-4" src="img/instagram.svg" />
            @cascimatec
        </li>
    </ul>
    <div
        class="absolute inset-x-0 bottom-0 pb-4 text-center font-LeagueSpartan text-[8px] text-white opacity-60">
        2023 CAS CIMATEC - Todos os direitos reservados
    </div>
</footer>
