<footer class="h-56 relative bg-black">
    <img class="h-40" src="img/ImpressaoDeCircuito.png">
    <img class="absolute top-16 left-20 h-24" src="img/LogoRodape.png" alt="Logo Rodapé">
    <ul class="flex flex-col text-white font-LeagueSpartan absolute gap-2 top-0 bottom-3 text-sm left-64 justify-center">
        <li>Quem somos</li>
        <li>Atividades</li>
        <li>Eventos</li>
    </ul>
    <img class="absolute right-20 top-16 h-80" src="img/Isotipo.png" alt="">
    <ul class="absolute right-20 bottom-[80px] flex flex-col gap-2 font-LeagueSpartan text-xs items-center">
        <li class="bg-white rounded-full w-28 p-0.5 text-center">Entrar em Contato</li>
        <li class="text-white flex gap-1"><img class="w-4" src="img/instagram.svg">@cascimatec</li>
    </ul>
    <div class="absolute inset-x-0 bottom-0 text-white text-center font-LeagueSpartan text-[8px] opacity-60 pb-4">2023 CAS CIMATEC - Todos os direitos reservados</div>
</footer>