{{ define "main" }}
<main>
    <div class="relative text-left">
        <img class="w-full" src="img/Banner.png">
        <ul class="absolute top-7 left-16 flex flex-row gap-4 font-LeagueSpartan font-bold items-center">
            <img class="w-32 mr-9" src="img/HorizontalPadrao.png">
            <li>Quem somos</li>
            <li>Atividades</li>
            <li>Eventos</li>
        </ul>
        <div class="absolute w-5/12 top-28 left-16 font-bold text-5xl tracking-wide leading-tight">A CAS é o capítulo do IEEE CIMATEC voltado ao estudo e ensino de circuitos e sistemas.</div>
        <a class="absolute left-16 top-[400px] jus bg-white rounded-full p-2 tracking-normal font-LeagueSpartan leading-none" href="">Saiba mais</a>
    </div>
    <div class="mx-auto my-16 flex flex-row font-Montserrat text-lg justify-center items-center gap-56">
        <div class="flex flex-col justify-center items-center w-36 gap-5 text-center">
            <img class="w-20" src="img/group.png" alt="">
            <p>XX membros em 1 ano</p>
        </div>
        <div class="flex flex-col justify-center items-center w-44 gap-5 text-center">
            <img class="w-20" src="img/contente.png" alt="">
            <p>3 publicações no NoticIEEEro #122</p>
        </div>
        <div class="flex flex-col justify-center items-center w-48 gap-5 text-center">
            <img class="w-20" src="img/project-management.png" alt="">
            <p>Desenvolvimento e contribuição em XX projetos</p>
        </div>
    </div>
    <div id="Destaques">
        <div class="ml-28">
            <h1 class="font-Montserrat text-3xl">Conecte-se com a gente</h1>
            <p class="text-gray-500">@cascimatec</p>
        </div>
        <div class="flex flex-row h-[400px] items-center justify-center gap-10">
            <button>
                <img class="transition ease-in-out h-8 -scale-100 opacity-50 hover:opacity-100 hover:-scale-125" src="img/Destaques/seta-direita.png" >
            </button>
            <img class="h-80" src="img/Destaques/arduino.png">
            <img class="h-80" src="img/Destaques/noticIEEEro.png">
            <img class="h-80" src="img/Destaques/postMulheres.png">
            <button>
                <img class="transition ease-in-out h-8 opacity-50 hover:opacity-100 hover:scale-125" src="img/Destaques/seta-direita.png">
            </button>
        </div>
    </div>
</main>
{{ end }}